.Message {
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  padding-bottom: 10px;
}

.Placeable:before {
  content: "{ ";
  font-family: "monospace";
}

.Placeable:after {
  content: " }";
  font-family: "monospace";
}

.ExternalArgument:before {
  content: "$";
}

.SelectExpression > :first-child:after {
  content: " -> ";
  font-family: "monospace";
  direction: ltr;
}

.Variant > :first-child:before {
  content: "\a    [";
  white-space: pre;
  font-family: "monospace";
}
.Variant.Variant_default_true > :first-child:before {
  content: "\a   *[";
}
.Variant > :first-child:after {
  content : "] ";
  font-family: "monospace";
}
