.mode-selector {
  padding-bottom: 1ex;
  border-bottom: 1px solid black;
  margin-bottom: 2ex;
}

.Message,.Term {
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  padding-bottom: 10px;
}


.attributes_group {
  grid-column-end: -1;
}
.Attribute {
  display:block;
}
.Attribute > .Identifier:after {
  content: " = "
}


.Placeable > :first-child:before {
  content: "{ ";
  font-family: monospace;
}

.Placeable:after {
  content: " }";
  font-family: monospace;
}

.ExternalArgument > .Identifier:before {
  content: "$";
}
.ExternalArgument {
  font-family: monospace;
}

.SelectExpression > :first-child:after {
  content: " -> ";
  font-family: monospace;
  direction: ltr;
}

.variants_group {
  display: block;
  margin-left: 3ex;
}
.Variant {
  display: block;
}
.Variant > :first-child {
  font-family: monospace;
}
.Variant > :first-child:before {
  content: "[";
}
.Variant.Variant_default_true > :first-child:before {
  content: "*[";
  margin-left: -1ex;
}
.Variant > :first-child:after {
  content : "] ";
  font-family: monospace;
}
