.mode-selector {
  padding-bottom: 1ex;
  border-bottom: 1px solid black;
  margin-bottom: 2ex;
}

.Message,.Term {
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  padding-bottom: 10px;
}


.Attribute {
  grid-column-end: -1;
}

.Attribute > .Identifier:after {
  content: " = "
}


.Placeable:before {
  content: "{ ";
  font-family: "monospace";
}

.Placeable:after {
  content: " }";
  font-family: "monospace";
}

.ExternalArgument:before {
  content: "$";
}

.SelectExpression > :first-child:after {
  content: " -> ";
  font-family: "monospace";
  direction: ltr;
}

.Variant > :first-child:before {
  content: "\a    [";
  white-space: pre;
  font-family: "monospace";
}
.Variant.Variant_default_true > :first-child:before {
  content: "\a   *[";
}
.Variant > :first-child:after {
  content : "] ";
  font-family: "monospace";
}
